header.header
	._container.container
		button(type="button")._burger
			span._burger-line
		a(href="#")._logo
			include ../../images/logo.svg
		include ../../components/main-menu/main-menu
		._button
			button(type="button")._btn.btn Кнопка
