extends base/pug/base
append variables
	- var title = 'Недвижимость Санкт-Петербурга и Москвы'
	- var pageUrl = '/'

block content
	include components/main-banner/main-banner
	include components/section-carousel/section-carousel
	include components/section-indicators/section-indicators
	include components/section-map/section-map
	include components/section-achievements/section-achievements



